@charset "UTF-8";
.text-1 {
  font-size: 0.5em;
}

.text-2 {
  font-size: 1em;
}

.text-3 {
  font-size: 1.5em;
}

.text-4 {
  font-size: 2em;
}

.text-5 {
  font-size: 2.5em;
}

.text-6 {
  font-size: 3em;
}

.text-7 {
  font-size: 3.5em;
}

.text-8 {
  font-size: 4em;
}

.text-9 {
  font-size: 4.5em;
}

.text-10 {
  font-size: 5em;
}

.text-11 {
  font-size: 5.5em;
}

.text-12 {
  font-size: 6em;
}

.text-13 {
  font-size: 6.5em;
}

.text-14 {
  font-size: 7em;
}

.text-15 {
  font-size: 7.5em;
}

.text-16 {
  font-size: 8em;
}

.text-17 {
  font-size: 8.5em;
}

.text-18 {
  font-size: 9em;
}

.text-19 {
  font-size: 9.5em;
}

.text-20 {
  font-size: 10em;
}

.width-hr-1 {
  width: 5%;
}

.width-hr-2 {
  width: 10%;
}

.width-hr-3 {
  width: 15%;
}

.width-hr-4 {
  width: 20%;
}

.width-hr-5, .formdevis .linehr {
  width: 25%;
}

.width-hr-6 {
  width: 30%;
}

.width-hr-7 {
  width: 35%;
}

.width-hr-8 {
  width: 40%;
}

.width-hr-9 {
  width: 45%;
}

.width-hr-10 {
  width: 50%;
}

.width-hr-11 {
  width: 55%;
}

.width-hr-12 {
  width: 60%;
}

.width-hr-13 {
  width: 65%;
}

.width-hr-14 {
  width: 70%;
}

.width-hr-15 {
  width: 75%;
}

.width-hr-16 {
  width: 80%;
}

.width-hr-17 {
  width: 85%;
}

.width-hr-18 {
  width: 90%;
}

.width-hr-19 {
  width: 95%;
}

.width-hr-20 {
  width: 100%;
}

.height-hr-1 {
  height: 1px;
}

.height-hr-2 {
  height: 2px;
}

.height-hr-3 {
  height: 3px;
}

.height-hr-4 {
  height: 4px;
}

.height-hr-5 {
  height: 5px;
}

.height-hr-6 {
  height: 6px;
}

.height-hr-7, .formdevis .linehr {
  height: 7px;
}

.height-hr-8 {
  height: 8px;
}

.height-hr-9 {
  height: 9px;
}

.height-hr-10 {
  height: 10px;
}

.h-1 {
  height: 20px;
}

.h-2 {
  height: 40px;
}

.h-3 {
  height: 60px;
}

.h-4 {
  height: 80px;
}

.h-5 {
  height: 100px;
}

.h-6 {
  height: 120px;
}

.h-7 {
  height: 140px;
}

.h-8 {
  height: 160px;
}

.h-9 {
  height: 180px;
}

.h-10 {
  height: 200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins, Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

/** Barre de navigation */
.navbar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /** Bouton devis gratuit*/
  /** Menu déroulant*/
}

.navbar .myphone {
  display: none;
}

.navbar .fa-whatsapp {
  color: #25d366;
}

.navbar .tel-email {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.navbar .social-media {
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
}

.navbar .navbar-brand {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0047d6;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #333;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  display: block;
  font-family: Poppins, Helvetica, Arial, Verdana, sans-serif;
  line-height: 19px;
  margin-left: 2rem;
  padding: 0;
  text-transform: none;
  white-space: nowrap;
}

.navbar .navbar-nav .nav-link:hover {
  color: #0047d6;
}

.navbar .devis, .navbar .carousel .carousel-inner .carousel-item .btncarousel, .carousel .carousel-inner .carousel-item .navbar .btncarousel {
  width: 100%;
  margin-left: 350px;
  padding: 0.5rem 0.5rem;
}

.navbar .devis .mybtn, .navbar .carousel .carousel-inner .carousel-item .btncarousel .mybtn, .carousel .carousel-inner .carousel-item .navbar .btncarousel .mybtn {
  background-color: #0047d6;
  border-radius: 60px;
  border-style: none;
  -webkit-box-shadow: #e81c2e 0 0 0 0 inset;
          box-shadow: #e81c2e 0 0 0 0 inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 10px 30px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.navbar .devis .mybtn:hover, .navbar .carousel .carousel-inner .carousel-item .btncarousel .mybtn:hover, .carousel .carousel-inner .carousel-item .navbar .btncarousel .mybtn:hover {
  background-color: #e81c2e;
  -webkit-box-shadow: #e81c2e 200px 0 0 0 inset;
          box-shadow: #e81c2e 200px 0 0 0 inset;
  color: #fff;
  outline: none;
}

.navbar .devis .mybtn:focus, .navbar .carousel .carousel-inner .carousel-item .btncarousel .mybtn:focus, .carousel .carousel-inner .carousel-item .navbar .btncarousel .mybtn:focus {
  outline: none;
}

.navbar .devis .mybtn:active, .navbar .carousel .carousel-inner .carousel-item .btncarousel .mybtn:active, .carousel .carousel-inner .carousel-item .navbar .btncarousel .mybtn:active {
  outline: 0;
}

.navbar .devis .mybtn:disabled, .navbar .carousel .carousel-inner .carousel-item .btncarousel .mybtn:disabled, .carousel .carousel-inner .carousel-item .navbar .btncarousel .mybtn:disabled {
  cursor: not-allowed;
  opacity: 65;
}

.navbar .dropdown-menu {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 9999;
}

.navbar .dropdown-menu .dropdown-item {
  color: #333;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #fff;
  color: #0047d6;
  border-color: #0047d6;
}

/** Carousel*/
.carousel .carousel-inner .carousel-item .img-slide {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.carousel .carousel-indicators .active {
  background-color: #d60000;
}

.services-web {
  padding: 4rem 0;
  background-color: #f5f5f5;
}

.services-web .services-web-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.services-web .services-web-title h4 {
  color: #0047d6;
  font-size: 1rem;
}

.services-web .services-web-title h4,
.services-web .services-web-title h2,
.services-web .services-web-title p {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-web .box {
  cursor: pointer;
}

.services-web .box:hover {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.services-web .box .box-headding {
  color: #0047d6;
  font-size: 1rem;
  font-size: 1rem;
}

.services-web .box .box-content {
  text-align: left;
}

.section-contact {
  padding: 10rem 0;
}

.section-contact .btn-devis {
  background-color: #0047d6;
  border-style: none;
  border-radius: 60px;
  -webkit-box-shadow: #e81c2e 0 0 0 0 inset;
          box-shadow: #e81c2e 0 0 0 0 inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 10px 30px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.section-contact .btn-devis:hover {
  background-color: #e81c2e;
  -webkit-box-shadow: #e81c2e 200px 0 0 0 inset;
          box-shadow: #e81c2e 200px 0 0 0 inset;
  color: #fff;
  outline: none;
}

.section-contact .btn-devis:focus {
  outline: none;
}

.section-contact .btn-devis:active {
  outline: 0;
}

.section-contact .btn-devis:disabled {
  cursor: not-allowed;
  opacity: 65;
}

.text-competences {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #777;
}

.carousel2 {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 1.5fr;
      grid-template-rows: 1fr 3fr 1.5fr;
  -ms-grid-columns: 50px 1fr 1fr 1fr 1fr 50px;
      grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
  row-gap: 2vh;
  position: relative;
}

.carousel2 .carousel-inner .carousel-item .img-slide {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.carousel2 .carousel-indicators .active {
  background-color: #d60000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.progress-bar__fill {
  width: 0;
  height: inherit;
  background: #c20000;
  -webkit-transition: all 0.16s;
  transition: all 0.16s;
}

.progress-bar--primary {
  z-index: 2;
}

.main-post-wrapper {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-post {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.main-post__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.main-post__image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-post__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 14, 0.5);
}

.main-post__content {
  position: absolute;
  top: 40%;
  left: 4%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  color: #fff;
  width: 90%;
}

.main-post__tag-wrapper {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.main-post__tag {
  font-size: 0.95em;
  background: #c20000;
  padding: 6px 18px;
}

.main-post__title {
  font-weight: 700;
  font-size: 1.95em;
  line-height: 1.25;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.main-post__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-post__link-text {
  font-size: 0.9em;
}

.main-post__link-icon--arrow {
  margin-left: 12px;
}

.main-post__link-icon--play-btn {
  margin-right: 12px;
}

.main-post__link:hover .main-post__link-text,
.main-post__link:hover .main-post__link-icon--arrow path {
  color: #c20000;
  stroke: #c20000;
}

.main-post--active {
  top: 0;
  z-index: 1;
  -webkit-transition: top 0.9s 0.4s ease-out;
  transition: top 0.9s 0.4s ease-out;
}

.main-post--not-active {
  top: 100%;
  z-index: 0;
  -webkit-transition: top 0.75s 2s;
  transition: top 0.75s 2s;
}

.main-post.main-post--active .main-post__tag-wrapper {
  width: 25%;
  -webkit-transition: all 0.98s 1.9s;
  transition: all 0.98s 1.9s;
}

.main-post.main-post--not-active .main-post__tag-wrapper {
  width: 0;
  -webkit-transition: width 0.3s 0.2s;
  transition: width 0.3s 0.2s;
}

.main-post.main-post--active .main-post__title {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.8s 1.42s, -webkit-transform 0.5s 1.4s;
  transition: opacity 0.8s 1.42s, -webkit-transform 0.5s 1.4s;
  transition: opacity 0.8s 1.42s, transform 0.5s 1.4s;
  transition: opacity 0.8s 1.42s, transform 0.5s 1.4s, -webkit-transform 0.5s 1.4s;
}

.main-post.main-post--not-active .main-post__title {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.2s, -webkit-transform 0.2s 0.35s;
  transition: opacity 0.5s 0.2s, -webkit-transform 0.2s 0.35s;
  transition: transform 0.2s 0.35s, opacity 0.5s 0.2s;
  transition: transform 0.2s 0.35s, opacity 0.5s 0.2s, -webkit-transform 0.2s 0.35s;
}

.main-post.main-post--active .main-post__link {
  opacity: 1;
  -webkit-transition: opacity 0.9s 2.2s;
  transition: opacity 0.9s 2.2s;
}

.main-post.main-post--not-active .main-post__link {
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.2s;
  transition: opacity 0.5s 0.2s;
}

.posts-wrapper {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 14px;
          column-gap: 14px;
  z-index: 1;
}

.post {
  background: rgba(14, 13, 14, 0.6);
  opacity: 0.3;
  color: #fff;
  position: relative;
  padding: 16px 20px;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.post__tag {
  color: #80837e;
}

.post__title {
  font-weight: 400;
  font-size: 0.95em;
  line-height: 1.5;
}

.post--active {
  opacity: 1;
  background: rgba(14, 13, 14, 0.75);
}

.post:not(.post--active) {
  pointer-events: none;
}

.hide-on-mobile {
  display: none;
}

.formdevis {
  background-color: #000;
}

.formdevis .linehr {
  background: #fff;
}

.formdevis .fa-map-marker-alt {
  color: #c20000;
}

.formdevis .fa-envelope {
  color: #cccccc;
}

.formdevis .fa-whatsapp {
  color: #25D366;
}

.formdevis .card-contact {
  color: #fff;
  padding: 20px;
}

.formdevis .card-contact .card-contact__title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

.formdevis .card-contact__form {
  background-color: #fff;
}

.formdevis .card-contact__form .form-group {
  margin-bottom: 20px;
}

.formdevis .card-contact__form .form-group:last-child {
  margin-bottom: 0;
}

.formdevis .card-contact__form .form-group__input {
  border: solid 1px #cccccc;
  width: 100%;
}

.formdevis .card-contact__form .form-group__input:focus {
  outline: none;
}

.formdevis .card-contact__form .form-group__textarea {
  border: solid 1px #cccccc;
  width: 100%;
  height: 150px;
}

.formdevis .card-contact__form .form-group__textarea:focus {
  outline: none;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 55em;
}

.wrapper > .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card {
  width: 200px;
  border-radius: 0.5em;
}

.card > img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: 17.5em;
}

.card > .content {
  background: #0a2640;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1em;
  text-align: center;
}

.card > .content > h1,
.card > .content > h3 {
  margin: 0.35em 0;
}

.card > .content > h1 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
}

.card > .content > h3 {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
}

.map {
  margin-top: 1em;
}

.map > button {
  all: unset;
  background: #11406c;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}

.map > button.active:after {
  background: #001d38;
  content: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

/**  Media query*/
@media screen and (min-width: 768px) {
  .main-post__title {
    font-size: 2.9em;
  }
}

@media screen and (min-width: 1024px) {
  .hide-on-mobile {
    display: -ms-grid;
    display: grid;
  }
  .posts-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .hide-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .main-post__content {
    width: 45%;
  }
  .posts-wrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }
}

@media screen and (max-width: 912px) {
  .navbar {
    background-color: #e0e0e0;
  }
  .navbar .navbar-brand {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  .navbar .myphone {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .navbar .tel-email {
    display: none;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.8rem 0;
    border-bottom: 1px solid #f5f5f5;
    font-size: 1rem;
    margin-left: 1rem;
  }
  .navbar .navbar-nav .nav-link:last-child {
    border-bottom: none;
  }
  .navbar .devis, .navbar .carousel .carousel-inner .carousel-item .btncarousel, .carousel .carousel-inner .carousel-item .navbar .btncarousel {
    width: 100%;
    left: 0;
    bottom: 0;
    margin-left: 0;
    position: fixed;
    padding: 0.5rem;
    text-align: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 9999;
    background-color: #d8d6d6;
  }
  .navbar .devis .tel-email, .navbar .carousel .carousel-inner .carousel-item .btncarousel .tel-email, .carousel .carousel-inner .carousel-item .navbar .btncarousel .tel-email {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .navbar .devis .mybtn, .navbar .carousel .carousel-inner .carousel-item .btncarousel .mybtn, .carousel .carousel-inner .carousel-item .navbar .btncarousel .mybtn {
    width: 100%;
    color: #fff;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
  }
  .carousel .carousel-inner .carousel-item .img-slide {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .carousel .carousel-indicators .active {
    background-color: #d60000;
  }
  .section-contact {
    padding: 0;
    margin-top: -30px;
  }
  .section-contact .btn-devis {
    width: 100%;
    margin-bottom: 0.5vh;
    border-radius: 0;
  }
  .section-contact .btn-tel {
    width: 100%;
    padding: 10px 30px 12px;
  }
  .navbar-tel-email {
    display: none;
  }
  .posts-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */