
@import "./vars";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 1.5;
}

.navbar {
     background-color: #fff;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-bottom: 2px solid  #0047d6;

     .navbar-brand {
          color: #fff;
          padding: 0.5rem 1rem;
          border-radius: 50%;
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          background-color: #0047d6;

          &:hover {
               color: #fff;
          }
     }
     .navbar-nav {
          .nav-link {
               color: #333;
               text-transform: uppercase;
               font-size: 1.2rem;
               font-weight: 400;
          }
     }

    .devis {
          .mybtn {
               background-color: #fff;
               border-color: #0047d6;
               color: #0047d6;
               font-size: 1.2rem;
               font-weight: 700;
               text-transform: uppercase;
               padding: 0.5rem 1rem;
               border-radius: 0.25rem;
               transition: all 0.3s ease-in-out 0s;
               &:hover {
                    border-color: #fff;
                    color: #fff;
                    background-color: #555555;
               }
          }
    }

    .dropdown-menu {
         margin-top: 10px;
          background-color: #fff;
          border-radius: 0;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          padding: 0.5rem 1rem;
          width: 100%;
          z-index: 9999;

          .dropdown-item {
               color: #333;
               font-size: 1.2rem;
               font-weight: 300;
               transition: all 0.3s ease-in-out 0s;
               &:hover {
                    background-color: #fff;
                    color: #0047d6;
                    border-color: #0047d6;
               }
          }
     }
}

.carousel {
     .carousel-inner {
          .carousel-item {
               .img-slide {
                    height: 80vh;
                    object-fit: cover;
                    transition: all 0.3s ease-in-out 0s;
               }
          }
     }
     .carousel-indicators {
          .active {
               background-color: #d60000;
          }
     }
}